nav {
    background-color: #000000;
    padding: 10px;
    overflow: hidden; /* Added overflow property to prevent wrapping */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Changed to flexbox for alignment */
    align-items: center; /* Vertically center the items */
}

li {
    /* float: left; Removed float property */
}

li:first-child {
    margin-right: auto; /* Pushes the "Welcome" message to the left */
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to red on hover */
li a:hover {
    background-color: #666262;
}

  /* Style for the "Welcome" message */
  .welcome-message {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

img {
    width: 100%;
    height: 100%;
  }
  article h1 {
    font-size: calc(20vw / 3); /* Set font size to cover 1/3 of the screen */
    text-align: center;
    margin-top: 40px; /* Adjust as needed */
    margin-bottom: 1px; /* Adjust as needed */
    font-style:normal;
    font-weight: 10;
}

  article h3{
    font-size: calc(10vw / 3); /* Set font size to cover 1/3 of the screen */
    text-align: center;
    text-align: center;
    color: red;
    font-weight: 1;
  }
  section{
    background-color: red;
  }
  section h3{
    text-align: center;
    font-size: large;
  
  }
  /* Style for the footer */
  footer {
    background-color: #040404;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    margin: 0;
    white-space: nowrap; /* Prevent wrapping */
  }
  
  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px; /* Adjust as needed */
  }
  
  