/* Reset and global styles */
body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li.welcome-message {
    font-weight: bold;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
.container {
    text-align: center;
    margin-top: 20px;
}

.container h1 {
    background-color: red;
    padding: 0px 20px;
    color: black;
    display: inline-block;
}

.container h3 {
    font-style: italic;
}

/* Slideshow styles */
.slideshow-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.mySlides {
    display: none;
    height: 100vh;
    width: 100vw;
}

.mySlides img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

/* Fading animation for slides */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0.8;
    }
}

/* Navigation buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Dots/Indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}